.btn-primary
    background-color: $main-color !important
    border-color: $main-color !important

    &:hover
        background-color: $main-light-color !important
        border-color: $main-light-color !important

.btn-secondary
    background-color: white !important
    border-color: white !important
    color: $main-color !important

    &:hover
        background-color: $main-light-color !important
        border-color: $main-light-color !important
        color: white !important